<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конец тренировки</title>
    <script src="/static/timer.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/viewingtr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Тренировка закончена</h1>
    <div id="centered">
        <h3 id="cer">Введите свой вес:</h3>
        <form method="POST">
            <div id="input-container">
                <input type="text" name="weight" required>
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </div>
    
</body>
</html>