<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конец тренировки</title>
    <script src="/static/timer.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/viewingtr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Тренировка закончена</h1>
    <a href="/"class="button">Закончить</a>
    <a href="/add_weight" class="button">Добавить данные о весе</a>
</body>
</html>