<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка файла</title>
    <link rel="stylesheet" type="text/css" href="/static/viewingtr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <button onclick="closeWindow()" class="button">Вернуться в профиль</button>
    <div class="contentt">
        <h1>Тренировки:</h1>
        {% for filename, content in files_content.items() %}
            <h2>{{ content['name'] }}</h2>
            <a href="/view/{{ filename }}" class="button">Посмотреть</a>
            <a href="/delete_trenirovka/{{ filename }}" class="button">Удалить</a>
            <a href="/start_trenirovka/{{ filename }}/{{ 1 }}/{{ 1 }}" class="button">Начать тренировку</a>
        {% endfor %}

    <form action="/create_trenirovka" method="get">
        <button type="submit">Добавить</button>
    </form>
    </div>

    <script>
        function closeWindow(){
            window.close();
        }
    </script>

</body>
</html>